ra1 {
	background: #bbbbbb;
	border: 1px solid #000000;

}

ra2 {
	background: #986960;
	border: 2px solid #442d25;
	border-radius: 20px 20px;
	color: 	#003153;
}
ra3 {
	background: #fff0f5;
	border: 2px solid #442d25;
	color: 	#003153;

}